.user_info { width: 1070px; margin: 0 auto;}
.user_info_content {
    background-color: #fff;
    min-height: 500px;
    margin-left: 100px;
    border-top: 2px solid #ffc900;
    width: 1350px;
    margin-top: 30px;
}
.userinfo_left{
    width: 160px;
    padding: 2px 0;
    background: #f0efed;
    border: 1px solid lightgray;
    float: left;
    height: 500px;
}
.userinfo_left li {text-align: center;height: 42px;line-height: 42px}
.userinfo_left li.active { background-color: #fff; border-left: 2px solid #80c269;}
.userinfo_left li a { font-size: 15px; color: #777 }
.userinfo_left li span, .icon_location { display: inline-block; width: 30px; height: 21px; }


.subContent .label_txt{
    font-weight: bold;
}

.subContent{
    padding-left: 100px;
    float: left;
    width: 700px;
    height: 500px;
    margin-top: 20px;
}

.subContent input{
    border:1px solid black;
    height: 30px;
    width: 300px;
    font-size: 14px;

}
 #eye{
    width: 25px;
    height: 25px;
    display: inline;
    margin-top: 10px;
}
.subContent #sex{
    width: 50px;
    height: 25px;
}
.submit_btn{
    height: 30px;
    width: 150px;
    background-color: #2b669a;
    color: white;
}

.order_summary{
    height: 100px;
    width: 300px;
    border-bottom: 1px solid lightgray;
}